/* Initialisation du bouton */
#init {
    background: none;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
    color: aliceblue;
    cursor: pointer;
    position: fixed;
    bottom: 3vh;
    right: 3vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#init img {
    width: 80px;
    height: 80px;
    margin-right: 8px;
}

@media (max-width: 600px) {
    #init {
        padding: 8px 16px;
        font-size: 10px;
        bottom: 3vh;
        right: 3vw;
    }

    #init img {
        width: 60px;
        height: 60px;
        margin-right: 4px;
    }
}

/* Conteneur du chatbot */
#test {
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    display: none;
    z-index: 1001;
    max-width: 100%;
    animation: simpleOpen 0.5s forwards;
}

@media (max-width: 480px) {
    #test {
        width: 90%;
        max-width: 90%;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10vh;
        animation: simpleOpen 0.5s forwards;
    }
}

/* Conteneur parent */
.parent {
    position: relative;
    height: 100%;
    padding: 0 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Conteneur enfant */
.child {
    box-shadow: 0 2px 2px rgb(114, 184, 250);
    border-radius: 15px;
    height: 30rem;
    width: 16rem;
    margin: auto;
    background: white;
}

@media (max-width: 600px) {
    .child {
        width: 57%;
        height: 70vh;
        top: 5vh;
        right: 5vw;
    }
}

/* En-tête du chatbot */
.header img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 0 0.5rem;
    border: 1px solid rgb(255, 255, 255);
    padding: 5px;
}

.header {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
    background: rgb(255, 255, 255);
    width: 16rem;
    padding: 5px 0;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    z-index: 1;
    box-shadow: 0 0 2px rgb(175, 175, 175);
}

@media (max-width: 600px) {
    .header {
        width: 57%;
    }
}

.h-child {
    display: flex;
    align-items: center;
}

.header span {
    font-size: 13px;
    margin: 0;
    padding: 0;
}

.refBtn {
    position: absolute;
    top: 7px;
    right: 0.1rem;
    cursor: pointer;
    background-color: white;
    border: none;
}

.refBtn:hover {
    background-color: white;
}

.name {
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}

/* Pied de page du chatbot */
.footer {
    position: absolute;
    bottom: 0;
    width: 16rem;
    background: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: rgb(92, 201, 205);
    padding: 15px 0;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 0 3px rgb(153, 153, 153);
}

@media (max-width: 600px) {
    .footer {
        width: 57%;
    }
}

/* Boîte de chat */
#chat-box {
    position: relative;
    top: 40px;
    padding: 8px 10px;
    font-size: 12px;
    height: 24.2rem;
    overflow: auto;
    background: rgb(224, 241, 253);
    text-align: center;
}

@media (max-width: 600px) {
    #chat-box {
        height: 56vh;
    }
}

/* Message */
.msg {
    background: white;
    padding: 5px 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: max-content;
    font-size: 14px;
    color: rgb(37, 28, 168);
    box-shadow: 0 0 5px rgb(226, 226, 226);
    max-width: 65%;
    text-align: left;
    font-family: 'Pacifico', cursive;
}
.test{
    text-align: right;
    margin: 20px 0;
}
@media (max-width: 600px) {
    .msg {
        max-width: 65%;
    }
}

/* Réponse */
.rep {
    background: rgb(253, 243, 224);
    color: rgb(29, 45, 134);
    padding: 5px 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    display: inline-block;
    word-wrap: break-word;
    font-size: 14px;
    box-shadow: 0 0 5px rgb(211, 211, 211);
    max-width: 80%;
    font-family: 'Pacifico', cursive;
}

@media (max-width: 600px) {
    .rep {
        max-width: 80%;
        position: relative;
    }
}

/* Options */
.opt {
    padding: 5px 20px;
    columns: lightsalmon;
    border: 1px solid blueviolet;
    border-radius: 1rem;
    margin: 0.3rem 0.5rem;
    display: inline-block;
    cursor: pointer;
    font-weight: 500;
    background: white;
    text-align: center;
    font-size: 14px;
    color: rgb(43, 168, 226);
    align-items: le;
}

@media (max-width: 600px) {
    .opt {
        padding: 5px 15px;
        font-size: 12px;
        margin-bottom: 12px;
        

    }
}

/* Liens */
.link {
    text-decoration: none;
    display: block;
    text-align: center;
    color: aliceblue !important;
    background: blueviolet;
}

.m-link {
    text-decoration: none;
}

.link:active {
    background: white;
    border: 1px solid blueviolet;
    color: rgb(43, 168, 226);
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.5);
    }
}

@keyframes simpleOpen {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.show {
    animation: fadeIn 0.5s forwards;
}

.show2 {
    animation: fadeIn 0.5s forwards;
}

.hide {
    animation: fadeOut 0.5s forwards;
}

#test.show {
    display: block;
}

#content0.blurred {
    filter: blur(5px);
    pointer-events: none;
}
